@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: green;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  min-height: 100vh; /* Ensure the container spans full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: green; /* Apply your background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
